body{
    background-color:RGB(30,30,30,30);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}





nav{
    border: 5px snow;
    padding: auto;
    text-align:right; 
    color: #00d8ed;
}
.data-container{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: RGB(0,0,0,0.25) ;
    box-shadow: 0 2px 20px rgba(255, 255, 255, 0.699);
    border-radius: 10px;
    color: azure;
}

.data-item{
    text-align: center;
}

.data-item h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.data-item p{
    font-size: 48px;
    font-weight: bold;
    color: #00d8ed;
}

.data-head{
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin: 50px auto;
    padding: 20px;
    background-color: RGB(0,0,0,0.25) ;
    color: azure;
    
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.699);
    border-radius: 20px;


}







.column {
    float: left;
    width: 40%;
    padding: 5px;
    
}




.topnav {
    background-color: RGB(0,0,0,0.25) ;
    overflow: hidden;
  }
  