body{
    background-color:#ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}





nav{
    border: 5px rgb(250, 252, 255);
    padding: auto;
    text-align:right; 
    color: hsl(185, 100%, 46%);
}
.data-container{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: RGB(0,0,0,0.25) ;
    box-shadow: 0 5px 20px rgba(32, 103, 246,20);
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.data-item{
    text-align: center;
}

.data-item h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.data-item p{
    font-size: 48px;
    font-weight: bold;
    color: #17a2b8;
}

.data-head{
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin: 50px auto;
    padding: 20px;
    background-color: RGB(0,0,0,0.25) ;
    color:hsl(211, 100%, 50%);
    
    box-shadow: 0 5px 20px rgba(32, 103, 246,20);
    border-radius: 20px;


}







.column {
    float: left;
    width: 40%;
    padding: 5px;
    
}




.topnav {
    background-color: RGB(0,0,0,0.25) ;
    overflow: hidden;
  }
  

.chart-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    
    
}

canvas {
    background-color:  RGB(0,0,0,0.25);
    padding: 10px;
    border-radius: 10px;
}
